body {
  margin: 0;
  padding: 0;
  background-image: url(https://www.patternfly.org/2022.11/images/basic.f4f127adeeaf58d28161c05c04b22668.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  color: white;
  font-size: 30px;
  margin: 0 10px;
}

#user-value {
  min-width: 50%;
  min-height: 50px;
  border-radius: 20px;
  text-align: center;
  margin: 10px 0;
}
.tabs-container {
  border: 1px solid white;
}
.tabs-wrapper {
  display: flex;
  color: white;
  align-items: center;
  position: relative;
  padding: 20px 0;
}
.tabs-wrapper div {
  padding: 0 20px;
}

.under-line {
  background-color: orange;
  height: 4px;
  width: 45px;
  position: absolute;
  top: 54px;
  left: -20px;
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding: 20px 0;
}

.item {
  color: white;
}

#task-done {
  text-decoration: line-through;
}
